/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-img-url: url("../images/cover-image-dark.png");
  --nav-color: #ff0070;
  --text-link-border-color: #F1B2CE;
  --accent-color: #FF0070;
  --nav-hover-color: rgb(255 0 112 / 0.4);
  --main-title-color: #DB00FF;
  --title-decor-color: #000028;
  --text-color: #F1B2CE;
  --nav-border-color: #ff0070;
  --title-bg-color: #ff0070;
  --display-text: block;
}