/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-image: var(--bg-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-block-start: 10px;
  padding-block-end: 10px;  
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.header {
  display: grid;
  height: 100vh;
  width: 100%;
  max-height: 668px;
  justify-self: center;
  align-self: center;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  border-right: 1px solid var(--nav-color);
  border-top: 1px solid var(--nav-color);
  top: 0;
  right: 0;
  justify-self: end;
}

.decorated-zone::before {
  border-left: 1px solid var(--nav-color);
  border-bottom: 1px solid var(--nav-color);
  bottom: 0;
  left: 0;
  align-self: end;
}

.decorated-zone-text {
  display: var(--display); 
  position: absolute; 
  text-transform: uppercase; 
  font-family: var(--text-font), sans-serif; 
  color: var(--nav-color); 
  justify-self: end; 
  top: 2px;
  right: 10px; 
}

.decorated-zone-text::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-left: 10px;
  background-color: var(--nav-color);
  box-shadow: 0px 0px 4px 2px var(--nav-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;  
}

.header__theme-menu-item {
  padding: 2px 0px;
}

.header__theme-menu-button {
  font-family: var(--text-font), sans-serif;
  background-color: transparent;
  color: var(--nav-color);
  font-size: 18px;
  text-transform: lowercase;
  border: 1px solid transparent;
  padding: 0px 12px;
  letter-spacing: 1px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-border-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--nav-hover-color);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--nav-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
}

.header__title {
  grid-row: 2;
  align-self: center;
  justify-self: start;
  font-family: var(--text-font), sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-left: -10px;
}

.header-text-container {
  grid-row: 3;
  align-self: center;
  justify-self: start;
}

.title-decor {
  font-family: var(--text-font), sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;  
  background-color: var(--title-bg-color);
  color: var(--title-decor-color);
}

/* MAIN */

.main {
  display: grid;
  gap: 50px;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section__title {
  font-family: var(--text-font), sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--nav-color);
}

.section__text {
  font-family: var(--text-font), sans-serif;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-color);  
}

.section__text-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.section__text-link:hover {
  border-bottom: 1px solid var(--text-link-border-color);
}

.section__text-link:focus {
  border: 1px solid var(--text-link-border-color);
}

.section__text-link:focus-visible {
  outline: none;
}

.title-decor.advices {
  margin-bottom: 10px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article:has(h4.title-decor) h4.title-decor {
  font-weight: 400;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery__item {
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}

/* FOOTER */

.footer {
  height: 100vh;
  min-height: 668px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-family: var(--text-font), sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--main-title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* MEDIA */

@media (width >=768px) {
  .page {
    gap: 60px;
    padding-block-start: 20px;
    padding-block-end: 20px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;    
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }

  .header-text-container {
    width: 50%;
    justify-self: end;   
  }

  .section:not(.accent-section, .section-gallery) {
    grid-template-columns: 0.5fr 1fr;
  }

  .section:not(.accent-section, .section-gallery) .section__title {
    grid-column: 1;
  }

  .section:not(.accent-section, .section-gallery) .article {
    grid-column: 2;
  }

  .section.accent-section .section__title {
    display: grid;
    grid-template-columns: min-content;
  }

  .section-gallery .article {
    gap: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__item:nth-child(1) {
    grid-column: span 2;  
  }

  .gallery__item:nth-child(2) {
    grid-row: span 2;  
  }

  .gallery__item:nth-child(3) {
    grid-row: span 3;  
  }

  .gallery__item:nth-child(5) {
    grid-column: span 2;
    grid-row: span 2;  
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >=1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section:not(.accent-section, .section-gallery) {
    grid-template-columns: 0.5fr 1fr;
  }

  .section.accent-section  {
    grid-template-columns: repeat(3, 1fr);
  }

  .section.accent-section .section__title {
    display: block;
    grid-row: 1;
  }

  .section.accent-section .article {
    grid-row: 2;
  }
}
