/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: start;
  background-image: var(--bg-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.header {
  display: grid;
  height: 100vh;
  width: 100%;
  max-height: 668px;
  justify-self: center;
  align-self: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  position: relative;
  padding-inline-start: 10px;
  padding-inline-end: 10px;

  /*max-width: 375px;*/
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  border-right: 1px solid var(--nav-btn-color);
  border-top: 1px solid var(--nav-btn-color);
  top: 10px;
  right: 10px;
  justify-self: end;
}

.decorated-zone::before {
  border-left: 1px solid var(--nav-btn-color);
  border-bottom: 1px solid var(--nav-btn-color);
  left: 10px;
  bottom: 10px;
  align-self: end;
}

.decorated-zone-text {
  display: block; 
  position: absolute; 
  text-transform: uppercase; 
  font-family: var(--text-font), sans-serif; 
  color: var(--nav-btn-color); 
  justify-self: end; 
  margin-right: 9px;
  top: 14px;
  right: 10px; 
}

.decorated-zone-text::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-left: 10px;
  background-color: var(--nav-btn-color);
  box-shadow: 0px 0px 4px 2px var(--nav-btn-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  margin-top: 22px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;  
}

.header__theme-menu-item {
  padding: 2px 0px;
}

.header__theme-menu-button {
  font-family: var(--text-font), sans-serif;
  background-color: transparent;
  color: var(--nav-btn-color);
  font-size: 18px;
  text-transform: lowercase;
  border: 1px solid transparent;
  padding: 0px 12px;
  letter-spacing: 1px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-btn-color);
  pointer-events: none;
}

.header__title {
  grid-row: 2;
  align-self: center;
  justify-self: center;
  font-family: var(--text-font), sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--nav-btn-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header-text-container {
  grid-row: 3;
  align-self: center;
  justify-self: start;
  margin-top: -25px;
  background-color: var(--nav-btn-color);
}

.header-text {
  font-family: var(--text-font), sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #000028;
  
}

@media (width >=768px) {
  .page {
    gap: 60px;
  }
}

@media (width >=1024px) { 
  .header__theme-menu-list {
    flex-direction: row;
  }
}

.footer {
  height: 100vh;
  min-height: 668px;
  background-color: red;
}